.counter_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: lightblue;
}

.counter_container__count {
  font-size: 10rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  user-select: none;
}
